@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }
  
  .competitions {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .logoCompetitions{
    margin-left: 40px;
  }
  .p-card {
    flex: 1 1 calc(25% - 10px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .p-card:hover {
    animation: shake 0.6s ease forwards;
  }
  

.TitreHomePage{
   margin-top: 70px;
   margin-bottom: 40px;
    margin-left: 600px;
    color: white;
}

.competitions{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
}

p-card:hover {
    animation: shake 0.6s; 
  }