<div class="Container">
  <div class="logoTitle">
    <img src="assets/football.png" alt="" width="50" height="50" class="logoCompetitions"/>
    <p class="titleCompetition">InFoot</p>
  </div>

  <div class="competitions">
    <p-card
      *ngFor="let competition of competitions"
      [style]="{ width: '200px' }"
      (click)="onSelectCompetition(competition.code)"
    >
      <img
        [src]="competition.emblem"
        alt="{{ competition.name }} logo"
        width="150"
        height="150"
      />
    </p-card>
  </div>
</div>
