.page-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 40px;
  margin-left: 40px;
}
.logo-container {
  border-bottom: 2px solid white;
  padding-bottom: 10px; 
  margin-bottom: 10px; 
}

.competitionName {
  margin-left: 300px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

h2 {
  color: #333;
}

.flagCompetion {
  width: 20px;
  height: 20px;
  margin-left: 450px;
}
.currentMatchday{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Season{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-text-container {
  display: flex;
  align-items: center; 
  justify-content: start;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.icon-text-container:hover {
  border-radius: 5px;
  background-color: #001e28;
  color: #fff;
  height: 60px;
}
.textSidebar:hover {
  color: #ffffff !important;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px; 
}

.textSidebar {
  font-weight: bold;
  color: #001e28 !important;
  transition: color 0.3s ease;
}


.small-table {
  font-size: 12px;
  width: 50%;
  margin: 0 auto;
}

.team-name {
  font-size: 14px;
  font-weight: bold;
}

.main-content p-table {
  width: 100%;
}

.detailSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}


.team-website-btn {
  margin-left: 10px;
  background-color: #001e28;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
