.page-container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 2px;
  }

  .competitionName{
    margin-left: 200px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
  }
  
  h2 {
    color: #333;
  }

  .flagCompetion{
    width:20px;
    height:20px;
    margin-left: 400px;
    
  }
  .icon-text-container {
    display: flex;
    align-items: center; 
  }
  
  .icon {
    width: 24px; 
    height: 24px;
    margin-right: 5px;
    margin-top: 20px;
  }