.teams-container {
    padding: 20px;
  }
  
  .team-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .team-logo {
    width: 100px;
    height: auto;
  }
  
  .team-website-btn {
    margin-left: 430px;
    background-color: #001e28;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .team-website-btn:hover {
    background-color: #07242e;
  }
  
  .teamSeason{
    margin-left: 25px;
  }
  