<div>
  <p-dropdown
    [(ngModel)]="selectedSeason"
    [options]="seasons"
    optionLabel="label"
    optionValue="value"
    placeholder="Select a Season"
    class="teamSeason"
    (onChange)="onSeasonChange($event)">
  </p-dropdown>
</div>

<div class="teams-container">
  <div *ngFor="let team of teams" class="team-card">
    <img [src]="team.crest" alt="{{ team.name }} logo" class="team-logo" />
    <h3>{{ team.name }}</h3>
    <p>Coach: {{ team.coach.name }}</p>
    <button 
    class="team-website-btn"
    *ngIf="team.website"
    (click)="redirectToWebsite(team.website)">
    Visit Website
  </button>
    
  </div>
</div>
